.LesPublicationsUtil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;
    .publication {
        flex-grow: 1;
        img {
            width: 100%
        }
    }
}